node_modules
.env
*/my-new-app/README.md
*/my-new-app/angular.json
*/my-new-app/browserslist
*/my-new-app/karma.conf.js
*/my-new-app/tslint.json
*/my-new-app/package.json
*/my-new-app/package-lock.json
*/my-new-app/tsconfig.json
*/my-new-app/tsconfig.app.json
*/my-new-app/tsconfig.spec.json
*/my-new-app/src/favicon.ico
*/my-new-app/src/index.html
*/my-new-app/src/main.ts
*/my-new-app/src/polyfills.ts
*/my-new-app/src/styles.css
*/my-new-app/src/test.ts
*/my-new-app/src/environments/environment.ts
*/my-new-app/src/assets/.gitkeep
*/my-new-app/src/environments/environment.prod.ts
*/my-new-app/.editorconfig
*/my-new-app/e2e/*